@import "./variables.scss";
@import "./responsive.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: "Inter", sans-serif;
    background-color: $main-bg;
    color: $dark-color;

    .container {
        max-width: 100vw;
        min-height: 100vh;
    }
}

